# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
frontend/dist/
frontend/build/

# MLflow
mlruns/

# ML artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Duplicate/archive files
llm-financial-risk-explainer.zip
llm-financial-risk-explainer/
